/* /////////////////////////////////////////////////////////////////////////////////// */
/* // graph styles */
.item {
    fill: "#00ff00";
}

.myhover {
    fill: "#ff0000";
}

.node {
/*   cursor: pointer; */
}

.node circle {
  fill: #fff;
/*   stroke: steelblue; */
  stroke-width: 1px;
}

.node text {
  font: 10px sans-serif;
}

/* .link { */
/*   fill: #f00; */
/*   stroke: #ccc; */
/*   stroke-width: 1.5px; */
/* } */

path {
  stroke: #000;
  stroke-width: 1.5;
/*   cursor: pointer; */
}

path:hover {
  stroke: #999;
  stroke-width: 4.5;
/*   cursor: pointer; */
}

text {
  font: 10px sans-serif;
/*   cursor: pointer; */
  pointer-events: none;
}

/* // bootstrap overwrites */

/* .row {} */

.textfix {
    margin-right: 0px;
    margin-left: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.modal-content { }

.modal-content {
    background-color: #2C3539 !important;
}

.modal-footer {
    border-top: 1px solid #555;
}
.modal-header {
    border-bottom: 1px solid #555;
}

.close {
    color: #fff;
    opacity: .5;
}

.close:hover, .close:focus {
    color: #fff;
    opacity: 1;
}


.dropdown-menu {}

.dropdown-menu {
    color: #fff;
    background-color: #111 !important;
}

.dropdown-menu>li>a {
    color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #000;
    background-color: #219ab3;
}

/* .activeItem>li>a:hover, .activeItem>li>a:focus { */
/*     color: #fff; */
/*     background-color: #219ab3; */
/* } */

a.activeItem {
    font-weight: 600;
    background-color: #286090;
}

.breadcrumb {
    background-color: transparent;
/*     border: 1px solid #219ab3; */
    color: #fff;
/*     color: #219ab3; */
}

.form-control {
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #fff;
/*     color: #219ab3; */
}

input[readonly].form-control {
    cursor: default;
    background-color: transparent;
    border: 1px solid #219ab3;
    color: #fff;
}

.panel {
    background-color: #2C3539;
    border: 0px;
}

.list-group-item {
    background-color: #2C3539;
    border: 1px solid #000;
}

/* /////////////////////////////////////////////////////////////////////////////////// */
/* //  */

.leader {
    color: #31708f;
}
.list-group-item-less {
/*     background-color: #2C3539; */
    border: 0px solid #000 !important;
}


/************************************************************************************* */
/* panels  */

.infoPanel {
    width: 250px;
    height: 670px;
    margin-bottom: 0px;
/*     float: left; */
}

.graph {
    width: 670px;
    height: 670px;
    float: left;
}

.info {
/*     width: 250px; */
/*     height: 100%; */
    float: left;
}

/************************************************************************************* */

.memberlist {
    overflow: auto;
/*     max-height: 300px; */
}

.pilotlist {
    overflow: auto;
    height: 200px;
}




tr.myhover:hover {
    background-color: #333;
}

td.ui-draggable {
    cursor: move;
}

td.ui-state-disabled {
    cursor: not-allowed;
    opacity: .5;
}



.content {
    width: 100%;
/*     height: 100%; */
/*     display: block; */
}

#path-0 {
    fill: #000;
/*     opacity: 0; */
}

#nav {
    position: absolute;
    height: 50px;
    left: 250px;
}


#nav ol li a:hover {
    cursor: pointer;
}



.infoitem {
    display: inline-block;
    width: 80px;
/*     height: 100%; */
/*     float: left; */
}


.infoentry {
    display: inline;
}




.droppilot {
    overflow: auto;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px #7f7f7f solid;
/*     float: left; */
}

li.ui-draggable {
    cursor: move;
}
li.ui-state-disabled {
    cursor: not-allowed;
    opacity: .5;
}
